:root {
  --back-color: #705c8e;
  --selected: #d46a6a;
  --noselected: #3b424f;
  --background-button: #4a575d;
  --display-back: #2e333a;
}

#drum-machine {
  border: 3px solid var(--selected);
  padding: 10px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--back-color);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
  width: 100%;
  color: var(--selected);
  font-size: 24px;
  text-shadow: 2px 2px 4px var(--noselected);
}

.drum-pad {
  width: 30%;
  height: 70px;
  background: var(--background-button);
  color: var(--noselected);
  border: 2px solid var(--noselected);
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50px;
  margin-bottom: 20px;
  border: 2px solid var(--noselected);
  background: var(--display-back);
  color: var(--selected);
  border-radius: 10px;
}


.drum-pad.active {
  background-color: #d46a6a;
  color: white;
  border: 2px solid #3b424f;
}

